.child-dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 1305px) {
  .child-dashboard {
    max-height: calc(100vh - 6rem);
  }
}

.child-dashboard .family-heading {
  text-align: center;
}

.child-dashboard-header {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  background-color: #f8f8f8;
}

.family-members {
  grid-column: 2 / 4;
  grid-row: 1 / -1;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsibilities {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  padding: 20px;
  width: 24rem;
  text-align: right;
}

.wallet {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.wallet-details div {
  text-align: center;
}

.family-name {
  margin-bottom: 0;
}

@media (max-width: 1305px) {
  .child-dashboard {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .child-dashboard .family-members {
    background-color: transparent;
  }

  .child-dashboard-header,
  .family-members,
  .responsibilities,
  .wallet {
    width: 100%;
    grid-column: unset;
    grid-row: unset;
  }
}

@media (max-width: 1024px) {
  .family-members,
  .responsibilities,
  .wallet {
    order: 0;
  }
}

@media (max-width: 768px) {
  .family-members,
  .responsibilities,
  .wallet {
    padding: 15px;
  }
}
