.family-store {
  padding: 20px;
  margin: 20px;
}

.family-store-side {
  width: 24rem;
  padding: 20px;
}

@media screen and (max-width: 1305px) {
  .family-store-side {
    width: 24rem;
    padding: 0px 20px;
  }
}

.family-store-side h2,
.family-store h1 {
  text-align: center;
  font-size: 2rem;
}

.family-store .store-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
}

.family-store .sidebar,
.family-store .store-items {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.family-store .store-items {
  flex-grow: 1;
}

.family-store .sidebar h2,
.family-store .store-items h2 {
  margin: 20px;
}

.family-store .items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.family-store .item-card {
  background-color: white;
  padding: 24px;
  border: 2px solid #e2e2e2;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  height: 130px;
}

.family-store .item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  border-color: #ccc;
}

.family-store .item-card .item-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #46b378;
  text-align: center;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.family-store .item-card:hover .item-card-overlay {
  height: 100%;
  opacity: 1;
}

.family-store button {
  background-color: #4cc283;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.5s;
}

.family-store button:hover {
  background-color: #46b378;
}

.family-store .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.family-store .modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.family-store .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-money {
  font-size: 1.5rem;
}

.family-store .modal-body {
  margin-top: 20px;
}

.request-new-item {
  position: absolute;
  right: 20px;
  top: 10px;
}

@media (max-width: 768px) {
  .family-store .items-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .request-new-item {
    position: absolute;
    right: 56px;
    top: 10px;
  }

  .total-money {
    font-size: 1rem;
    text-align: center;
  }

  .family-store .store-layout {
    align-items: center;
    flex-direction: column-reverse;
  }

  .family-store .sidebar {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }

  .family-store .store-items {
    order: 1;
  }
}
