.financial-accounts {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

.investment-section {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 20px;
  max-width: 30rem;
}

.existing-accounts-section {
  max-width: 30rem;
  margin: auto;
}

.investment-section h3 {
  margin-bottom: 10px;
}

.investment-input-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.investment-input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.investment-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.button {
  background-color: #4cc283;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #46b378;
}

.investment-list {
  list-style: none;
}

.investment-list li {
  padding: 0;
  border-bottom: 1px solid #eee;
}

.investment-list li:last-child {
  border-bottom: none;
}

.title {
  text-align: center;
}

.form-section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  max-width: 33rem;
}

.input-text,
.input-number,
.select-input {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button-create,
.button-update,
.button-delete {
  background-color: #4cc283;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 40px;
}

.button-create {
  margin-left: 20px;
  width: fit-content;
}

.finanacial-account-header {
  margin-left: 20px;
}

.finanacial-account-header h2 {
  text-align: left;
}

.account-list {
  margin-left: 20px;
}

.account-list ul {
  list-style-type: none;
  padding: 0;
}

.account-list li {
  padding: 20px 20px 20px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cancel-edit {
  height: 2rem;
  width: 1rem;
  background: none;
  border: none;
  font-size: 1.3rem;
}

.financial-accounts .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.financial-accounts .description {
  color: gray;
  font-size: 0.9em;
  margin: 0 0 0 20px;
  padding: 10px 0;
}

@media screen and (max-width: 476px) {
  .financial-accounts .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
  }
  .account-list {
    margin: 0;
  }

  .account-list h3 {
    text-align: center;
  }

  .financial-accounts .description {
    color: gray;
    font-size: 0.9em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
  }

  .finanacial-account-header {
    margin-left: 0;
    text-align: center;
  }
  .finanacial-account-header h2 {
    text-align: center;
  }
  .button-create,
  .button-delete {
    margin: auto;
    background-color: #4cc283;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
