@import './normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: rgb(16, 16, 16);
  background-color: #f7f7f7;
  max-width: 110rem;
  margin: auto;
  padding: 0 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #36aa97;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  transition: 300ms;
}

a::before {
  transition: 300ms;
  content: '';
  position: absolute;
}

a:hover {
  cursor: pointer;
  color: #36aa97;

  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

input[type='file']::file-selector-button {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}
