.login {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4rem 4rem;
  position: relative;
  bottom: 3rem;
}

.login h1 span {
  color: #36aa97;
}

.login label {
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #333333bf;
}

.login input {
  height: 3.2rem;
  width: 30rem;
  padding-top: 13px;
  padding-left: 8px;
}

.login .eye {
  position: absolute;
  right: 15px;
  top: 15px;
}

.login .eye:hover {
  cursor: pointer;
}

.login p a {
  padding: 12px 0px;
}

.login p a::before {
  height: 3px;
  background-color: #36aa97;
  width: 0%;
  bottom: 5px;
}

.login p a:hover::before {
  width: 100%;
}

.login .login-button {
  background-color: #36aa97;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem 4rem;
  border-radius: 100rem;
  margin-top: 1rem;
}

.login .login-button:hover {
  cursor: pointer;
}

.login-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-input-wrapper {
  display: flex;
  flex-direction: column;
}
