.login {
  height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  position: relative;
  max-width: 90rem;
  margin: auto;
  margin-left: 10rem;
}

@media screen and (max-width: 1100px) {
  .login {
    margin: 0;
  }
}

.login h1 span {
  color: #3fa0ca;
}

.login label {
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #333333bf;
}

.login input {
  height: 3.2rem;
  width: 30rem;
  padding: 20px 10px 10px 9px;
}

.login .eye {
  position: absolute;
  right: 15px;
  top: 15px;
}

.login .eye:hover {
  cursor: pointer;
}

.login p a {
  padding: 12px 0px;
}

.login p a::before {
  height: 3px;
  background-color: #3fa0ca;
  width: 0%;
  bottom: 5px;
}

.login p a:hover::before {
  width: 100%;
}

.login .login-button {
  background-color: #3fa0ca;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 100rem;
  margin-top: 1rem;
}

.login .login-button:hover {
  cursor: pointer;
}

.login-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-input-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 567px) {
  .login .login-button {
    font-size: 1rem;
  }
  .login h1 {
    font-size: 2.3rem;
  }
  .login {
    font-size: 0.8rem;
  }
  .login input {
    height: 3.2rem;
    width: 100%;
    padding: 20px 10px 10px 9px;
  }

  .login-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
