.responsibilities-wrapper {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.responsibilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsibilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.responsibilities-wrapper h2,
.responsibilities-wrapper h1 {
  font-size: 2rem;
  text-align: center;
}

.responsibilities-wrapper h4 {
  text-align: left;
}

.week-navigation {
  margin-bottom: 10px;
}

.week-days {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.day-button {
  width: 50px;
  height: 70px;
  text-align: center;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s;
}

.day-button p {
  margin: 0;
}

.day-button.selected p:last-of-type {
  padding: 4px 9px;
  background-color: #4cc283;
  color: white;
  border-radius: 8px;
}

.selected-day-tasks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

.selected-day-responsibilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsibilities-container button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4cc283;
  border: none;
  border-radius: 8px;
  color: white;
}

.responsibilities-container ul {
  list-style-type: none;
  padding: 0;
}

.responsibility-item,
.responsibility-item-big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
  min-width: 15rem;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.parent-dashboard .dropdown-container,
.child-dashboard .dropdown-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 25rem;
}

.parent-dashboard .dropdown-container::-webkit-scrollbar-track,
.child-dashboard .dropdown-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.parent-dashboard .dropdown-container::-webkit-scrollbar-thumb,
.child-dashboard .dropdown-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.parent-dashboard .dropdown-container::-webkit-scrollbar,
.child-dashboard .dropdown-container::-webkit-scrollbar {
  width: 5px;
}

.parent-dashboard .responsibility-item,
.child-dashboard .responsibility-item {
  padding: 2px 8px;
  font-size: 0.6rem;
  width: 10rem;
}

.parent-dashboard .responsibility-title,
.child-dashboard .responsibility-title {
  text-align: left;
  font-size: 0.6rem;
  padding-top: 5px !important;
}

.parent-dashboard .responsibility-content,
.child-dashboard .responsibility-content,
.parent-dashboard .responsibility-content-big {
  display: flex;
  justify-content: space-between;
}

.responsibility-content span,
.responsibility-content-big span {
  position: absolute;
  top: 5px;
  right: 0;
}

.responsibility-content,
.responsibility-content-big {
  flex-grow: 1;
  position: relative;
}

.responsibility-content-big span {
  top: 9px;
}

.responsibility-content span {
  top: 3px;
}

.responsibility-description {
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
}

.responsibilities-container .delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

.responsibilities-container .delete-button:hover {
  background: #4cc283;
  color: white;
  transition: 0.3s;
}

.main-content {
  flex: 3;
  padding: 20px;
}

.responsibilities-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.left,
.right {
  flex: 1;
}

.responsibilities h4 {
  text-align: left;
}

@media only screen and (max-width: 1356px) {
  .right {
    display: none;
  }

  .responsibilities-wrapper h2,
  .responsibilities-wrapper h1 {
    font-size: 1.6rem;
  }

  .responsibilities-container {
    padding: 18px;
  }
  .responsibilities-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
}

@media only screen and (max-width: 1305px) {
  .responsibilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    display: none;
  }
}

@media only screen and (max-width: 838px) {
  .week-days {
    gap: 10px;
  }

  .left {
    display: none;
  }

  .responsibility-item,
  .responsibility-item-big {
    padding: 8px 16px;
  }

  .responsibility-title {
    font-size: 0.8rem;
  }

  .responsibility-content span,
  .responsibility-content-big span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 652px) {
  .week-days {
    gap: 5px;
  }

  .day-button {
    width: 32px;
    height: 60px;
  }

  .day-button p:last-of-type,
  .day-button.selected p:last-of-type {
    font-size: 1rem;
    padding: 1px 2px;
    width: 32px;
  }

  .responsibilities-container button {
    padding: 4px 8px;
    font-size: 0.9rem;
  }

  .responsibility-title {
    font-size: 0.7rem;
  }

  .responsibility-content span,
  .responsibility-content-big span {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 480px) {
  .responsibilities-wrapper h3 {
    font-size: 1rem;
  }
  .week-days {
    gap: 0;
  }

  .day-button p:last-of-type,
  .day-button.selected p:last-of-type {
    padding: 0;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .responsibilities-wrapper h3 {
    font-size: 1rem;
  }
  .week-days {
    gap: 0;
  }

  .day-button p:last-of-type,
  .day-button.selected p:last-of-type {
    padding: 0;
    font-size: 1rem;
  }
}
