.navbar-wrapper {
  width: 100%;
  background: #3fa0ca;
  position: absolute;
  left: 0;
  height: calc(5rem + 1px);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  font-size: 1.2rem;
  font-weight: 500;
  height: 5rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  max-width: 90rem;
  position: absolute;
  top: 0;
  z-index: 2;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.842);
}

.logo-icon {
  font-size: 2.2rem;
}

.logo-text {
  font-size: 2.2rem;
  font-weight: 300;
}

.logo-wrapper:hover {
  text-decoration: none;
  color: white;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-wrapper svg {
  font-size: 1.5rem;
}

.icon-wrapper span {
  margin-top: 2px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
  padding: 15px 2rem;
  font-size: 1rem;
  transition: 0.5s;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}

.landing-page-link {
  padding: 28px 2rem;
}

.nav-link:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.nav-link:hover {
  background-color: #3590b5;
}

.nav-links-wrapper {
  display: flex;
}

.create-post {
  color: rgb(16, 16, 16);
  transition: 300ms;
}

.create-post:hover {
  cursor: pointer;
  color: #3fa0ca;
}

@media screen and (max-width: 1350px) {
  .navbar {
    font-size: 1rem;
  }

  .logo-text {
    font-size: 1.6rem;
  }

  .logo-image {
    width: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    font-size: 0.7rem;
  }

  .logo-text span {
    font-size: 1.1rem;
  }

  .logo-image {
    width: 1.2rem;
  }

  .nav-links-wrapper {
    display: flex;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    padding: 0 2rem;
  }
}
