.navbar-wrapper {
  width: 100%;
  background: #4cb2c2;
  position: absolute;
  left: 50%;
  left: 0;
  top: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 calc(20px + 2rem);
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  max-width: 110rem;
  margin: auto;
  z-index: 2;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.842);
}

.logo-icon {
  font-size: 2.2rem;
}

.logo-text {
  font-size: 2.2rem;
  font-weight: 300;
}

.logo-wrapper:hover {
  text-decoration: none;
  color: white;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-wrapper svg {
  font-size: 1.5rem;
}

.icon-wrapper span {
  margin-top: 2px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
  padding: 18px 2rem;
  font-size: 1rem;
  transition: 0.5s;
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}

.landing-page-link {
  padding: 31px 2rem;
}

.nav-link:last-of-type {
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.nav-link:hover {
  background-color: #49abba;
}

.nav-links-wrapper {
  display: flex;
}

.create-post {
  color: rgb(16, 16, 16);
  transition: 300ms;
}

.create-post:hover {
  cursor: pointer;
  color: #4cb2c2;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  z-index: 3;
}

@media screen and (max-width: 1350px) {
  .navbar {
    font-size: 1rem;
  }

  .logo-text {
    font-size: 1.6rem;
  }

  .logo-image {
    width: 2rem;
  }
}

@media screen and (max-width: 910px) {
  .navbar {
    font-size: 0.7rem;
  }

  .logo-text span {
    font-size: 1.1rem;
  }

  .logo-image {
    width: 1.2rem;
  }
  .hamburger-menu {
    display: block;
    padding: 20px;
  }

  .nav-links-wrapper {
    position: absolute;
    right: 0;
    top: 80px;
    flex-direction: column;
    width: 100%;
    background-color: #4cb2c2;
    display: none;
  }

  .nav-link {
    border: none;
  }

  .nav-link:hover {
    background-color: #3da2b1;
  }

  .show-menu {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 2;
  }
}

@media screen and (max-width: 580px) {
  .logo-text {
    font-size: 1.2rem;
  }
  .logo-icon {
    font-size: 1.5rem;
  }
  .logo-wrapper {
    gap: 0;
  }
}
