.parent-dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 1305px) {
  .parent-dashboard {
    max-height: calc(100vh - 6rem);
  }
}

.parent-dashboard .family-heading:last-of-type {
  margin-top: 2.2rem;

  text-align: center;
}

.parent-dashboard h2 {
  font-size: 1.2rem;
}

.parent-dashboard-header {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  background-color: #f8f8f8;
}

.responsibilities {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.wallet {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  padding: 20px;
}

.family-name {
  margin-bottom: 0;
}

.child-responsibility-to-approve:hover {
  cursor: pointer;
}

@media (max-width: 1305px) {
  .parent-dashboard {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .parent-dashboard .family-members {
    background-color: transparent;
  }

  .parent-dashboard-header,
  .family-members,
  .responsibilities,
  .wallet {
    width: 100%;
    grid-column: unset;
    grid-row: unset;
  }
}

@media (max-width: 1024px) {
  .family-members,
  .responsibilities,
  .wallet {
    order: 0;
  }
}

@media (max-width: 768px) {
  .family-members,
  .responsibilities,
  .wallet {
    padding: 15px;
  }
}
