.signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20rem 4rem;
}

.signup h1 span {
  color: #995722;
}

.signup label {
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  left: 10px;
  color: #333333bf;
}

.signup input {
  height: 3.2rem;
  width: 30rem;
  padding-top: 13px;
  padding-left: 8px;
}

.signup .eye {
  position: absolute;
  right: 15px;
  top: 15px;
}

.signup .eye:hover {
  cursor: pointer;
}

.signup p a {
  padding: 12px 0px;
}

.signup p a::before {
  height: 3px;
  background-color: #995722;
  width: 0%;
  bottom: 5px;
}

.signup p a:hover::before {
  width: 100%;
}

.signup .signup-button {
  background-color: #995722;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem 4rem;
  border-radius: 100rem;
  margin-top: 1rem;
}

.signup-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-input-wrapper {
  display: flex;
  flex-direction: column;
}
